@import 'styles/global.scss';

.container {
  .item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $white-color;
    padding: 20px;

    .price {
      color: $green-color;
      font-size: 2em;
      margin-bottom: 0;
    }

    .fill_coin {
      font-weight: 600;
      font-size: 1.8em;
    }
  }
}
