@import 'styles/global.scss';

.container {
  height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;

    .title_group {
      display: flex;
      align-items: baseline;

      .title {
        color: $white-color;
      }

      .desc {
        margin-left: 10px;
        color: $gray-color;
      }
    }

    .logout {
      color: white;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .content_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: $white-color;
      padding: 20px;

      .img {
        max-width: 200px;
      }
    }
  }
}

.notification {
  .hl {
    font-weight: 600;
  }
}
